<div class="p-product-list-container">
  <div class="p-product-list-header">
    <div class="p-product-list-header__search-bar">
      <c-input-search
        [placeholder]="'Buscar...'"
        [value]="store.searchTerm()"
        (onValueChange)="store.setSearchTerm($event)"
      ></c-input-search>
    </div>

    <c-button (onClick)="onAddProduct()">Agregar</c-button>
  </div>
  <div class="p-product-list-table">
    <c-table
      [data]="store.paginatedProducts()"
      [columns]="tableColumns"
      [showActions]="true"
      [isLoading]="store.isLoading()"
      (onDelete)="onDeleteProduct($event)"
    ></c-table>
    @if (!store.isLoading()) {
      <c-pagination
        [totalResults]="store.totalResults()"
        [pageSize]="store.pageSize()"
        [currentPage]="store.currentPage()"
        (onPageChange)="store.setCurrentPage($event)"
        (onPageSizeChange)="store.setPageSize($event)"
      ></c-pagination>
    }
  </div>
</div>
<c-modal
  [isOpen]="!!productToDelete()"
  [bodyText]="'¿Estás seguro de eliminar el producto ' + productToDelete()?.name + '?'"
  [confirmText]="'Eliminar'"
  [cancelText]="'Cancelar'"
  [isLoading]="store.isLoading()"
  (onConfirm)="onDeleteProductConfirm()"
  (onCancel)="onCloseModal()"
></c-modal>
