@use 'design-system' as ds;

:host {
  display: block;
  min-height: 100vh;
  width: 100vw;
}

.l-main {
  min-height: calc(100vh - 80px);
  padding: ds.$spacing-xl ds.$spacing-lg;
  display: flex;
  justify-content: center;
  background-color: ds.$clr-blue-50;

  &__container {
    width: 100%;
    max-width: 1200px;
  }
}
