<div class="c-input-form-group">
  @if (label()) {
    <label
      [attr.for]="id()"
      class="c-input-form-label"
      [class]="disabled ? ' c-input-form-label--disabled' : ''"
      >{{ label() }}</label
    >
  }
  <input
    class="c-input-form-control"
    [id]="id()"
    [type]="type()"
    [placeholder]="placeholder()"
    [value]="value()"
    [disabled]="disabled"
    [class.c-input-form-control--invalid]="isInvalid()"
    [attr.maxlength]="maxLength()"
    [min]="minDate()"
    (input)="onInputHandler($event)"
    (blur)="onTouchedHandler()"
  />
  @if (isInvalid() && errorMessage()) {
    <span class="c-input-form-error">{{ errorMessage() }}</span>
  }
</div>
